:root {
  --bg-color: rgb(0, 234, 255);
}
body {
  background-color: var(--bg-color);
}
.parent {
  position: relative;

  display: flex;
  flex-flow: row wrap;
  background-image: linear-gradient(30deg, darkblue, green, yellow);
  gap: 1rem;
}
.parent .child {
  flex: 1 0 280px;
  min-height: 280px;
  background-color: transparent;
  border: 20px solid var(--bg-color);
}
